<!-- 기본 틀이 될 base.html 상속. -->
{% extends 'base.html' %}

<!-- header에 넣을 블럭. -->
{% block title %}오답 리스트{% endblock title %}

<!-- body에 넣을 블럭. -->
{% block content %}

<div class="flex flex-col items-start justify-start w-full p-4">

    <span class="text_title">내 오답 리스트</span>
    
    <a href="{% url 'classes:new_wrong_answers' %}" class="my-4 btn_blue_on">새로운 오답 추가하기</a>

    <hr class="hr_line">

    <div class="flex flex-col w-full">

        {% for wrong_answer in wrong_answers %}
    
        <span class="mt-2 text_info">{{wrong_answer.study_class}} / {{wrong_answer.subject}} / {{wrong_answer.book}}</span>
        <span class="mt-2 text_info">{{wrong_answer.created_at}}</span>
        <span class="mt-2 text_info">{{wrong_answer.wrong_answers}}</span>
        
        <hr class="mt-2 hr_line">
        {% endfor %}
    </div>

</div>

<script>

</script>

{% load static %}
<script type="module">
    import * as library_http from "{% static 'js/library_http.js' %}"


</script>


{% endblock content %}