<!-- 기본 틀이 될 base.html 상속. -->
{% extends 'base.html' %}

<!-- header에 넣을 블럭. -->
{% block title %}메인 페이지{% endblock title %}

<!-- body에 넣을 블럭. -->
{% block content %}

<div class="flex flex-col items-center justify-start w-full">

    <p class="mt-10 text_title">메인페이지</p>
    
    {% if user.is_authenticated  %}
    <span class="my-2 text-gray-400">로그인 정보 : {{user.username}}</span>
    <a class="my-2 btn_blue_on" href="{% url 'users:sign_out' %}">로그아웃</a>
    
        {% if user.is_staff %}
        <a class="my-2 btn_blue_on" href="{% url 'classes:class_list' %}">오답 확인</a>
        {% endif %}

        <a class="my-2 btn_blue_on" href="{% url 'classes:wrong_answers_list' %}">오답 목록</a>
        
    {% else %}
    <a class="my-2 btn_blue_on" href="{% url 'users:sign_in' %}">로그인</a>
    {% endif %}
        
</div>

{% endblock content %}
