<!-- 기본 틀이 될 base.html 상속. -->
{% extends 'base.html' %}

<!-- header에 넣을 블럭. -->
{% block title %}새로운 숙제 추가{% endblock title %}

<!-- body에 넣을 블럭. -->
{% block content %}

<div class="div_container">
    
    <span class="text_title">과목 선택</span>

    <!-- 여기에 해당 반의 과목 리스트 띄워주기. -->
    <div id="div_container_subject_list" class="flex flex-row flex-wrap">
        
        {% for subject in study_class.study_group.subjects.all %}
        <button id="btn_subject_{{subject.pk}}" class="mt-2 mr-2 btn_blue_off" onclick="on_subject_selected(this, {{subject.pk}})">{{subject.subject_name}}</button>
        {% endfor %}
            
    </div>

    <span class="mt-4 text_title">교재 선택</span>

    <!-- 여기에 해당 반의 교재 리스트 띄워주기. -->
    <div id="div_container_book_list" class="flex flex-row flex-wrap">
        {% for book in study_class.study_group.books.all %}
        <button id="btn_book_{{book.pk}}" class="mt-2 mr-2 btn_blue_off" onclick="on_book_selected(this, {{book.pk}})">{{book.book_name}}</button>
        {% endfor %}
    </div>

    <span class="mt-4 text_title">숙제 내용</span>
    <input id="input_homework" class="px-4 py-2 mt-4 rounded-lg w-khg-half bg-blue-50 hover:bg-blue-50 focus:outline-none focus:bg-blue-50" type="text" placeholder="ex) 지수 전체 or 1~113번">

    <div class="flex flex-row mt-4">
        {% csrf_token %}
        <button id="btn_back_to_container1" class="mr-2 btn_red_on">이전</button>
        <button id="btn_submit" class="mr-2 btn_green_on">확인</button>
    </div>

</div>


{% load static %}
<script type="module">
    import * as library_http from "{% static 'js/library_http.js' %}"

    document.getElementById("btn_submit").addEventListener("click", function() {

        if(selected_subject_pk == -1) {
            alert("과목 선택해야 함.");
            return;
        } else if(selected_book_pk == -1) {
            alert("교재 선택해야 함.");
            return;
        }

        let homework_text = document.getElementById("input_homework").value;

        if(homework_text == "") {
            alert("숙제 내용 입력해야 함.");
            return;
        }

        let subject_name = document.getElementById("btn_subject_" + selected_subject_pk).innerText;
        let book_name = document.getElementById("btn_book_" + selected_book_pk).innerText;

        if(confirm(subject_name + ", " + book_name + "\n" + homework_text)) {
            
            const on_success = function(data) {
                
                if(data != null && data.result) {

                    if(data.message) {
                        alert(data.message);
                    }

                    location.href = "{% url 'classes:class_detail' study_class.pk %}";
                }
            }

            const on_fail = function() {

                alert("숙제 등록 실패... 문의 바람.");
            }

            const post_data = "selected_class_pk=" + encodeURIComponent({{study_class.pk}})
                + "&selected_subject_pk=" + encodeURIComponent(selected_subject_pk)
                + "&selected_book_pk=" + encodeURIComponent(selected_book_pk)
                + "&homework_text=" + encodeURIComponent(homework_text);

            library_http.load_by_ajax_post("{% url 'homeworks:new_homework' %}", post_data, on_success, on_fail);     
        }
    });
    
</script>

<script>

    let selected_subject_pk = -1;
    let selected_book_pk = -1;

    function on_subject_selected(view, pk) {

        // 아무 것도 선택되지 않은 경우.
        if(selected_subject_pk == -1) {
            view.classList.remove("btn_blue_off");
            view.classList.add("btn_blue_on");
            selected_subject_pk = pk;

        // 선택 해제하는 경우.
        } else if(selected_subject_pk == pk) {
            view.classList.remove("btn_blue_on");
            view.classList.add("btn_blue_off");
            selected_subject_pk = -1;

        // 선택된게 있는데 다른 것을 선택한 경우.
        } else {
            last_selected_view = document.getElementById("btn_subject_" + selected_subject_pk);
            last_selected_view.classList.remove("btn_blue_on");
            last_selected_view.classList.add("btn_blue_off");

            view.classList.remove("btn_blue_off");
            view.classList.add("btn_blue_on");
            selected_subject_pk = pk;
        }
    }

    function on_book_selected(view, pk) {

        // 아무 것도 선택되지 않은 경우.
        if(selected_book_pk == -1) {
            view.classList.remove("btn_blue_off");
            view.classList.add("btn_blue_on");
            selected_book_pk = pk;

        // 선택 해제하는 경우.
        } else if(selected_book_pk == pk) {
            view.classList.remove("btn_blue_on");
            view.classList.add("btn_blue_off");
            selected_book_pk = -1;

        // 선택된게 있는데 다른 것을 선택한 경우.
        } else {
            last_selected_view = document.getElementById("btn_book_" + selected_book_pk);
            last_selected_view.classList.remove("btn_blue_on");
            last_selected_view.classList.add("btn_blue_off");

            view.classList.remove("btn_blue_off");
            view.classList.add("btn_blue_on");
            selected_book_pk = pk;
        }
    }

</script>

{% endblock content %}
